services:
  frontend:
    image: nginx:alpine
    ports:
      - "8080:80"
    networks:
      - frontend_net
    
  backend:
    image: nginx:alpine
    networks:
      - frontend_net
      - backend_net
    
  database:
    image: postgres:15-alpine
    environment:
      POSTGRES_PASSWORD: secret
    networks:
      - backend_net
  admin:
    image: alpine
    command: sleep infinity
    networks:
      - frontend_net
      - backend_net

networks:
  frontend_net:
    driver: bridge
  backend_net:
    driver: bridge
  
  

    

